body{
  background: rgb(184, 180, 180);
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.con{           
  display: flex;
  justify-content: center;             
  align-items: center;                
  padding: 20px;                     
  border-radius: 30px ;
  font-family: 'Arial', sans-serif;   
  padding: 6px;
    flex-direction: column;

}
h1{

  color: rgba(0, 0, 255, 0.507);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
