.formcon {
  background: #fff;
  padding: 20px;
  height: 500px;
  width: 500px;
  border-radius: 15px;
  align-items: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
h2{
  color: black;
}
.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
 border-radius: 10px;
 border-color: rgb(16, 15, 15);
 color: rgb(5, 5, 5);
 background-color:white;
}


.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.rebut {
  padding: 8px 12px;
  cursor: pointer;
  background: green;
  width: 100%;
}
