.task{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  gap: 20px;
  
 
}
.com{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 20px;
  border-radius: 30px;
  background-color: rgb(188, 241, 188);
    border-right: 5px solid rgb(27, 109, 33);
    width: 500px;

 
}
.notcom{
    border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 20px;
  border-radius: 30px;
  background-color: rgb(239, 165, 165);
  border-right: 5px solid rgb(131, 35, 35);
  width: 500px;
}
