
.co {
  display: flex;
  flex-direction: column; 
  gap: 20px;          
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: white;
}
.butns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}
.inc{
    background-color: rgba(81, 219, 39, 0.687);
    color: white;
}
.dec{
    background-color: rgba(255, 0, 0, 0.716);
    color: white;
}
.tog{
    background-color: rgba(0, 0, 255, 0.683);
    color: white;
}
.cont{
text-align: center;
}
p{
    background-color: rgb(147, 147, 239);
    padding: 10px;
    border-radius: 30px;
 }
 .clear{
    background-color: rgb(116, 108, 225);
 }